body,body.ui-overlay-a{

	background:url("../images/repeat_bg.jpg") repeat-y scroll 0 0 rgba(0, 0, 0, 0) !important;

	background-size:100% 100% !important;

}

.theme_bg{

	background:url(../images/theme_background.jpg) center bottom no-repeat;

	min-width:320px;

	background-size:100% ;

}

.logo{

	padding-top:28%;

	transition:all ease .3s;

	margin: 0 auto;

}



.ui-footer {

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;

    border-bottom-width: 0;

    border-left-width: 0;

    border-right-width: 0;

    border-top: medium none !important;

}

.owl-demo .item{

	width:70px;

	height:70px;

	display:table-cell;

	background:url(../images/icon_bg.png) no-repeat;

	vertical-align:middle;

	text-align:center;

	background-size:100% 100%;

}

.ui-header{

	background:url(../images/header_bg.png) !important;

	border:none !important;

	

}

.ui-header .ui-title, .ui-footer .ui-title{

	text-shadow:none !important;

	color:#fff !important;

	font-size:24px;

	font-weight:normal;

	margin:0 25%;

}

.ui-icon-customrefresh:after {

	background-image: url("../images/refresh_icon.png");

	

}

.ui-icon-customrefresh:after{

	background-color:none;

	border:none;

	border-radius:none;

	height:42px;

	width:42px;

}

.ui-header .ui-btn-icon-notext{

	margin-top:11px;

}

.refresh_link,.help_link{

	border:none !important;

	background:none !important;

}

.refresh_link:hover,.refresh_link:active,.refresh_link:focus,.help_link:focus,.help_link:hover,.help_link:active{

	box-shadow:none !important;

}





/* custom setting of icons */

.app_feature_list a img{

	max-height:32px;

	max-width:32px;

}



.theme_bg
{
	background-image:none;
	background-repeat:no-repeat;
	background-size:cover;	
	background: linear-gradient(left , rgb(0, 0, 0) 1% , rgb(212, 105, 196) 10% , rgb(68, 160, 194) 24% , rgb(235, 142, 75) 43% , rgb(24, 122, 13) 57% , rgb(148, 215, 83) 68% , rgb(169, 102, 7) 70% , rgb(0, 0, 0) 80% , rgb(76, 236, 137) 93% , rgb(210, 31, 189) 95%);
background: -o-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(212, 105, 196) 10% , rgb(68, 160, 194) 24% , rgb(235, 142, 75) 43% , rgb(24, 122, 13) 57% , rgb(148, 215, 83) 68% , rgb(169, 102, 7) 70% , rgb(0, 0, 0) 80% , rgb(76, 236, 137) 93% , rgb(210, 31, 189) 95%);
background: -ms-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(212, 105, 196) 10% , rgb(68, 160, 194) 24% , rgb(235, 142, 75) 43% , rgb(24, 122, 13) 57% , rgb(148, 215, 83) 68% , rgb(169, 102, 7) 70% , rgb(0, 0, 0) 80% , rgb(76, 236, 137) 93% , rgb(210, 31, 189) 95%);
background: -moz-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(212, 105, 196) 10% , rgb(68, 160, 194) 24% , rgb(235, 142, 75) 43% , rgb(24, 122, 13) 57% , rgb(148, 215, 83) 68% , rgb(169, 102, 7) 70% , rgb(0, 0, 0) 80% , rgb(76, 236, 137) 93% , rgb(210, 31, 189) 95%);
background: -webkit-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(212, 105, 196) 10% , rgb(68, 160, 194) 24% , rgb(235, 142, 75) 43% , rgb(24, 122, 13) 57% , rgb(148, 215, 83) 68% , rgb(169, 102, 7) 70% , rgb(0, 0, 0) 80% , rgb(76, 236, 137) 93% , rgb(210, 31, 189) 95%);
}

